p{
    margin:55px 0px 60px 0px;
    font-size: 17px;
    font-weight: 600;
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    backgroud-clip: text;
    /* position: absolute; */
}